@media only screen and (max-width: 916px) {
    body {
        overflow-x: hidden;
    }
    .containerMenu {
        width: 100%;
        height: 54px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .containerMenu .containerimage a {
        padding: 10px;
    }
    .containerMenu .containerimage a svg {
        width: 89px;
        height: 28px;

    }
    .containerLeft {
        display: none;
    }
    .containerSection2 {
        height: fit-content !important;
        padding-bottom: 10px;
        padding-left: 0;
    }
    .containerItems {
        height: fit-content;
    }
    .containerItems ul {
        flex-direction: column;
    }
    .containerSection3 {
        height: fit-content;
        width: 100%;
        padding-left: 110px;
        padding-right: 110px;
        padding-top: 60px;
        background-color: #efefef;
        display: flex;
        flex-direction: column;
      }
    .containerCard ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .containerCard {
        margin-top: 50px;
        height: fit-content;
        width: 100%;
      }
    .containerCard ul li {
        width: 80%;
        height: fit-content !important;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
      } 
      .containerSection3 h1, .containerSection3 h5 {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      .containerFooter ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .containerFooter ul .newUl {
        width: fit-content;
        height: 100%;
        padding-top: 10px;
      }
}